@model Animal
@{
    ViewData["Title"] = "Добавить животное";
}

<div align="center">
    <h1>Добавить животное</h1>
</div>

<div align="center">
    <p>Пользователь: @ViewBag.UserFullName</p>
</div>

<form method="post" asp-action="Index">
    <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />

    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </div>

    <div>
        <label asp-for="Nameanimal"></label>
        <input asp-for="Nameanimal" />
        <span asp-validation-for="Nameanimal"></span>
    </div>

    <input type="submit" value="Добавить" />
</form>