@model User
@{
    ViewData["Title"] = "Вход";
}

<div class="text-center">
    <h1>Вход</h1>
</div>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-controller="Authorization" asp-action="Auth">

    <label asp-for="Firstname"></label>
    <input asp-for="Firstname" />
    <span asp-validation-for="Firstname"></span>

    <label asp-for="Secondname"></label>
    <input asp-for="Secondname" />
    <span asp-validation-for="Secondname"></span>

    <label asp-for="Therdname"></label>
    <input asp-for="Therdname" />
    <span asp-validation-for="Therdname"></span>

    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <span asp-validation-for="Phone"></span>
    <input type="submit" value="Войти" />

</form>