@model User
@{
    ViewData["Title"] = "В Аккаунте";
}

<div class="text-center">
    <h1>Добро пожаловать, @Model.Secondname @Model.Firstname!</h1>
</div>
<div aligh="left">
    <a asp-controller="Authorization" asp-action="Logout" class="btn btn-danger">Выход</a>
</div>